
  .items {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,58,121,1) 35%, rgba(0,212,255,1) 100%);
    text-align: center;
    /* padding: 6px 0; */
    width: 76%;
    color: white;
    margin-top: 20px;
    font-size: 10px;
    text-align: center;

  
  }
  .ready{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,58,121,1) 35%, rgba(0,212,255,1) 100%);
    text-align: center;
    /* padding: 6px 0; */
    width: 76%;
    color: white;
    margin-top: 20px;
    font-size: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    transform: translate(220%, -57%);
    
  }
  
  .container {
    display: grid;
grid-template-columns: repeat(4,1fr);

background-color: blueviolet;
width: 100%;
   
  
   
    
  }

  .padre-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .counter{
    font-size: 20px;
    background: blueviolet;
    margin: 15px 0;
    color:white;
  }